.register-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    color: rgb(146, 140, 202);
    margin: 5vh auto;
    padding: 1em;
    background-color: rgb(26, 26, 26);
    width: 60vw;
    border-radius: 5px;
}

.left>div label {
    color: rgb(209, 209, 209);
}

.right>div label {
    color: rgb(209, 209, 209);
}

.form-container h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgb(70, 70, 70);
    color: white;
    height: 10vh;
}

.left {
    display: flex;
    flex-direction: column;
    width: 44%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 44%;
}

.left>div {
    display: flex;
    flex-direction: column;
    margin: auto 1em;
}

.right>div {
    display: flex;
    flex-direction: column;
    margin: auto 1em;
}


.register-form label {
    color: white;
    margin: 1vh 0;
    font-size: larger;
    font-weight: bold;
    text-align: start;
}

.register-form input {
    background-color: rgb(117, 117, 117);
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin: 1vh 0;
    padding: 1vh 1vw;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    height: 10vh;
    background-color: rgb(148, 58, 58);
    color: rgb(206, 206, 206);
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin: 1vh 0;
}

.loading {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 764px) {

    .register-form {
        display: flex;
        flex-direction: column;
        width: 85vw;
        margin: 0;
        gap: 2vh;
    }

    .left>div {
        display: flex;
        margin: auto;
        width: 80vw;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .right>div {
        display: flex;
        width: 80vw;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    input[type="submit"] {
        font-family: 'Anton', sans-serif;
        font-size: 1.5em;
        height: 10vh;
        width: 80vw;
        background-color: rgb(148, 58, 58);
        color: rgb(206, 206, 206);
    }
}